<nav class="navbar bg-body-tertiary shadow-sm">
    <div class="container-fluid justify-content-start">

        <a class="navbar-brand fw-bold" href="/">I.F.</a>

        <a class="" href="">categorias</a>

        <div class="input-group">
            <input type="text" class="form-control" placeholder="Vale a pena estudar Rust?">
            <button class="btn btn-dark input-grup-text border"><span class="bi bi-search"></span></button>
        </div>

        <!-- Eu quero que na navbar, mostre as tags mais populares e no fim, um botão de categorias -->
    </div>
</nav>